{% from 'events/display/conference/_util.html' import format_event_date %}
{% from 'events/contributions/management/_draft_mode_warning.html' import render_draft_mode_warning %}

{% macro grid(timeunit, timeunit_span, room_index, room_span=1) %}
  {% if orientation == "vertical" %}
    grid-column: room {{room_index|default(1)}} / span {{room_span|default(1)}}; grid-row: timeunit {{timeunit}} / span {{timeunit_span|default(1)}};
  {% else %}
    grid-row: room {{room_index|default(1)}} / span {{room_span|default(1)}}; grid-column: timeunit {{timeunit}} / span {{timeunit_span|default(1)}};
  {% endif %}
{% endmacro %}

{% macro show_entry(entry, parent=None, timeunit_base=1) %}
  {% if entry.location_data and entry.location_data.room_name in rooms %}
    {% set room_index = rooms[entry.location_data.room_name].index %}
  {% else %}
    {% set room_index = 1 %}
  {% endif %}
  {% if parent %}
    {% set room_index = 1 %}
    {% set colors = "color: " + parent.textColor|default('black') +
                    " !important; background-color: " +
                    parent.color|default('#f8f2e8') + " !important;" %}
  {% else %}
    {% set colors = "color: " + entry.textColor|default('black') +
                    " !important; background-color: " +
                    entry.color|default('#f8f2e8') + " !important;" %}
  {% endif %}

  {% set timeunit = entry.timeunit_start|default(1) - timeunit_base + 1 %}

  {% if entry.entryType == "Contribution" and entry.timeunit_span > 0 %}
    {% set tagtype = 'div' if entry.subcontributions else 'a' %}
    {% set zindex = 3 + 1440 - entry.duration|int %}
    <{{tagtype}} href="{{entry.url}}" class="contribution {% if entry.subcontributions %}hassubcontributions{% endif %}"
       style="{{grid(timeunit, entry.timeunit_span, room_index)}} {{colors}} z-index: {{zindex}}"
       draggable="{%if management %}true{% else %}false{% endif %}"
       data-track-id="{{entry.trackId}}"
       {% if management %}
         data-id="{{entry.scheduleEntryId|default('')}}"
         data-contribution-id="{{entry.contributionId}}"
         data-color="{{entry.textColor|default('black')}}"
         data-background-color="{{entry.color|default('#f8f2e8')}}"
         data-timeunit-start="{{timeunit}}"
         data-timeunit-span="{{entry.timeunit_span}}"
         {% if 'startDate' in entry %}
           data-start-time="{{entry.startDate.time[:5]}}"
         {% endif %}
         {% if 'endDate' in entry %}
           data-end-time="{{entry.endDate.time[:5]}}"
         {% endif %}
         data-duration="{{entry.duration|int}}"
         data-room-index="{{room_index}}"
         data-room-name="{{entry.location_data.room_name|default("")}}"
         data-room-id="{{entry.location_data.room_id|default("")}}"
         data-venue-id="{{entry.location_data.venue_id|default("")}}"
       {% endif %}
       {% if entry.description and not entry.subcontributions %}
         title="{{entry.description|html_to_plaintext}}"
       {% endif %}
       {% if entry.subcontributions %}
         onclick='window.open("{{entry.url}}", "_blank")'
       {% endif %}
       target="_blank">
      <span class="title">{{entry.title}}</span>
      {% if entry.subcontributions %}
        <div class="subcontributions">
          {% for subcontrib in entry.subcontributions %}
            {{show_entry(subcontrib, entry)}}
          {% endfor %}
        </div>
      {% endif %}
      {% if entry.presenters %}
        <span class="authors">
          {{entry.presenters[0].name}}{% if entry.presenters|length > 1 %} {% trans %}et al{% endtrans %}{% endif %}
        </span>
      {% endif %}
      <span class="time">
        <span class="starttime">
          {%- if entry.startDate is defined %}{{entry.startDate.time[:5]}}{% endif -%}
        </span>–<span class="endtime">
          {%- if entry.endDate is defined %}{{entry.endDate.time[:5]}}{% endif -%}
        </span>
      </span>
      <span class="duration">{{entry.duration|int}}{% trans %}min{% endtrans %}</span>
     </{{tagtype}}>
  {% elif entry.entryType == "Subcontribution" %}
    <a href="{{entry.url}}"
       data-id="{{entry.subcontributionId}}"
       draggable="false"
       class="subcontribution"
    {% if entry.description %}
       title="{{entry.description|html_to_plaintext}}"
    {% endif %}
       target="_blank">
      <span class="duration">{{entry.duration|round|int}}{% trans %}min{% endtrans %}</span>
      <span class="title">{{entry.title}}</span>
    </a>
  {% elif entry.entryType == "Break" %}
    <div class="break"
         {% if entry.description %}
           title="{{entry.description|html_to_plaintext}}"
         {% endif %}
           style="{{grid(timeunit, entry.timeunit_span, 1, rooms|length)}} {{ colors }}">
      <span class="title">
        {{entry.title}}
      </span>
      <span class="location">
        {{entry.location_data.room_name|default(None)}}
      </span>
    </div>
  {% elif entry.entryType == "Session" %}
    <div href="{{entry.url}}"
         target="_blank"
         {% if management %}
           data-id="{{entry.scheduleEntryId}}"
           data-timeunit-start="{{timeunit}}"
           data-timeunit-span="{{entry.timeunit_span}}"
           data-color="{{entry.textColor|default('black')}}"
           data-background-color="{{entry.color|default('#f8f2e8')}}"
           data-room-index="{{room_index}}"
           data-room-name="{{entry.location_data.room_name|default("")}}"
           data-room-id="{{entry.location_data.room_id|default("")}}"
           data-venue-id="{{entry.location_data.venue_id|default("")}}"
         {% endif %}
         class="session {% if entry.entries|length == 0 %}nocontributions{% endif %}"
         style="{{grid(timeunit, entry.timeunit_span, room_index)}} --times: {{entry.timeunit_span}};">
      <span
         class="title"
        {% if entry.description %}
           title="{{entry.description|html_to_plaintext}}"
        {% endif %}
         style="{{colors}}"
         >{{entry.slotTitle|default(entry.title)}}</span>
      <div class="contributions">
        {% for skey, sentry in entry.entries.items() %}
          {{show_entry(sentry, entry, entry.timeunit_start) }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% set units_per_hour = 60 // granularity %}
{% set otherorientation = "vertical" if orientation == "horizontal" else "horizontal" %}

<div id="confSectionsBox" class="conf_leftMenu" style="display: none"></div>
<div class="ngtimetable-header confheader" style="{{ conf_layout_params.bg_color_css }} {{ conf_layout_params.text_color_css }}">
  <a class="icon-prev back" href="{{event.url}}" style="{{ conf_layout_params.text_color_css|default('color: black') }}">
    {% if event.has_logo %}
      <img src="{{ event.logo_url }}" alt="{{ event.title }}" border="0" class="conf-logo">
    {% endif %}
    <div class="details">
      <div class="title">{{event.title}}</div>
      <div class="date">{{format_event_date(event)}}</div>
      <div class="place">{{ event.venue_name }}</div>
    </div>
  </a>
</div>
{% if not published %}
  {{ render_draft_mode_warning(event) }}
{% endif %}
{% if management %}
  <div class="ngtimetable-unscheduled">
    {% for entry in unscheduled %}
      {{show_entry(entry)}}
    {% endfor %}
  </div>
{% endif %}
<div class="ngtimetable {{orientation}}"
     style="--rooms: {{rooms|length}}; --units-per-hour: {{units_per_hour}};"
     data-units-per-hour="{{units_per_hour}}"
     {% if management %}data-management="true"{% endif %}>
  <div class="schedule">
    <div class="rooms">
      <div class="corner menu">
        <input type="checkbox" autocomplete="off" id="menu-toggle" class="menu-checkbox">
        <label for="menu-toggle" class="icon-dropmenu menu-label"></label>
        <div class="menu-content">
          <div class="menu-item icon-eye track-selector">
            <span class="title">{% trans %}Visible Tracks{% endtrans %}</span>
            <div class="track-list">
              {% for track in tracks|sort(attribute='id') %}
                <div class="track" style="background-color: #{{track.default_session.background_color}} !important; color: #{{track.default_session.text_color}} !important;" data-track-id="{{track.id}}">
                  <input type="checkbox" autocomplete="off" checked="checked" data-track-id="{{track.id}}" id="track-{{track.id}}" class="track-input">
                  <label for="track-{{track.id}}" class="track-label icon-" >{{track.title}}</label>
                </div>
              {% endfor %}
            </div>
          </div>
          <a class="menu-item change-orientation icon-loop" href="?orientation={{otherorientation}}">{% trans %}Change orientation{% endtrans %}</a>
          <div class="menu-item density-item">
            <label for="density">{% trans %}Zoom{% endtrans %}</label>
            <input type="range" id="density" min="0.1" max="2.0" step="0.01" value="1.0">
          </div>
          {% if event.can_manage(session.user) %}
            {% if management %}
              <a class="menu-item icon-cross" href="{{url_for_plugin('ngtimetable.view', event)}}">{% trans %}Back to display view{% endtrans %}</a>
            {% else %}
              <a class="menu-item icon-wrench" href="{{url_for_plugin('ngtimetable.manage', event)}}">{% trans %}Manage timetable{% endtrans %}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% for room_name, roomdata in rooms.items()|sort(attribute='1.index') %}
      <div class="room"
           data-room-id="{{roomdata.room_id}}"
           data-venue-id="{{roomdata.venue_id}}">{{room_name}}</div>
    {% endfor %}
  </div>
  {% for date, daydata in timetable.items() %}
    <a class="daymarker" id="{{daydata.weekday|lower}}">{{daydata.weekday}}, {{(daydata.date|format_date(format='long'))[:-6]}}</a>
    {% set times = units_per_hour * (daydata.day_end - daydata.day_start + 1) %}
    <div class="timetable" data-date="{{date}}" data-times="{{times}}" style="--times: {{times}}">
      {% for hour in range(daydata.day_start, daydata.day_end + 1) %}
        <div class="timeslot" data-hour="{{hour}}">
          <span class="weekday">{{daydata.weekday}}</span>
          <span class="timestring">{{hour}}:00</span>
        </div>
      {% endfor %}
      {% for key, entry in daydata.timetable.items() %}
          {{ show_entry(entry, None, daydata.day_start * units_per_hour + 1) }}
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
<canvas id="dragcanvas" width="1" height="1"></canvas>
<div id="dragsource"></div>
