.main > div {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  --header-size: 190px;
}

#draft-mode-warning {
  align-self: center;
  margin: 2rem;
}

[draggable="true"] {
  user-select: none;
  cursor: move;
}

#dragcanvas {
  width: 1px;
  height: 1px;
}

#dragsource {
  &:not(.dragging) {
    display: none;
  }

  border: 3px dashed gray;
  margin: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  > .menu-checkbox {
    display: none;

    &:checked + .menu-label + .menu-content {
      display: block;
    }
  }

  > .menu-label {
    cursor: pointer;
  }

  > .menu-content {
    display: none;
    position: absolute;
    min-width: 21em;
    top: 100%;
    left: 2px;
    z-index: 2000;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px 3px gray;

    > .menu-item {
      border-bottom: 1px solid gray;
      padding-inline-start: 25px;
      color: inherit;
      padding: 5px 10px 5px 25px;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        text-decoration: none;
        color: #1e70bf;
      }

      &.density-item {
        display: flex;
        align-items: center;
        gap: 5px;

        > input {
          padding: 0 !important;
        }
      }
    }

    > .menu-item[class*=" icon-"], > .menu-item[class^="icon-"] {
      position: relative;
      display: block;
    }

    > .menu-item[class*=" icon-"]::before, > .menu-item[class^="icon-"]::before {
      width: 25px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0.55em;
    }

    > .track-selector {
      > .track-list {
        margin: 0 0 5px 10px;
        border: 1px solid gray;
        overflow-y: auto;
        max-height: 50vh;

        > .track {
          display: block;
          padding: 5px;
          position: relative;

          > .track-input {
            display: none;
          }

          > .track-label {
            display: block;
            padding: 0 20px;
            width: 100%;
            cursor: pointer;
          }

          > .track-label::before {
            content: "";
            width: 25px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
          }

          > .track-input:checked + .track-label::before {
            content: "\e372";
          }
        }
      }
    }
  }
}


.ngtimetable-header {
  min-height: var(--header-size) !important;
  height: var(--header-size) !important;

  > .back {
    margin: 0 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 10px;

    > .details {
      line-height: initial;

      > .title {
        font-size: 2.91rem;
      }
    }

    > .conf-logo {
      max-height: 7.5rem;
    }
  }

  a::before {
    color: #dfdfdf;
    font-size: 1rem;
    margin-inline-end: 3px;
  }
}

.notsupportedwarning {
  display: none;
}

.ngtimetable {
  --clamped-rooms-per-screen: max(1, min(var(--rooms), calc(var(--rooms-per-screen) * var(--density, 1))));
  --clamped-hours-per-screen: max(1, calc(var(--hours-per-screen) * var(--density, 1)));

  display: flex;
  background: white;


  > .schedule {
    flex: 1;
    display: flex;

    &.dragging {
      scroll-snap-type: none;
    }

    > .rooms {
      display: grid;
      background: white;
      position: sticky;
      z-index: 1446;
      gap: 2px;

      &::before {
        content: "";
        position: absolute;
      }

      > .corner {
        border: 1px solid grey;
        border-width: 0 1px 1px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;

        &:hover {
          color: #00a4e4;
        }
      }


      > .room {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        background: white;

      }
    }

    > .daymarker {
      scroll-behavior: smooth;
      scroll-snap-align: start;
      font-size: 1.5rem;
      text-align: center;
      border: 1px solid grey;
      line-height: normal;
      text-decoration: inherit;
      color: inherit;
      cursor: default;
      background: white;
      position: sticky;
      z-index: 1445;

    }

    > .timetable {
      display: grid;
      gap: 2px;
    }
  }
}

.ngtimetable-unscheduled {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  margin: 40px;
  height: 12rem;
  min-height: 200px;
  overflow: auto;
  resize: vertical;
  border: 1px solid grey;
  padding: 2px;

  .contribution {
    width: initial !important;
    height: initial !important;
    max-width: 150px;

    > .time {
      display: none;
    }

    > .duration {
      display: inline !important;
    }

    > .subcontributions {
      visibility: hidden;
    }
  }
}

.ngtimetable > .schedule > .timetable, .ngtimetable-unscheduled {
  > .timeslot {
    padding: 8px;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    background: white;
    border: 1px solid grey;
    position: sticky;
    z-index: 1444;

    &:not(:first-child) > .weekday {
      display: none;
    }
  }

  .contribution, > .break, > .session {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
  }

  .break {
    border: 1px solid grey;
    background: #f8f2e8;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 8px;

    > .title {
      flex: 1;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .contribution {
    padding: 8px;
    border: 1px solid grey;
    background: #f8f2e8;

    &.dragging {
      opacity: 0.4;
      pointer-events: none;
      z-index: 1444 !important;
    }

    > .title {
      font-weight: bold;

      > .timetable-actions {
        float: right;
      }
    }

    > .time {
      font-weight: 300;
    }

    > .duration {
      display: none;
    }

    &.hassubcontributions {
      cursor: pointer;
    }

    &:not(.hassubcontributions) > .title {
      flex: 1;
    }
  }

  .contribution > .subcontributions {
    display: flex;
    padding: 2px 0;
    font-size: 0.9em;
    flex: 1;
    flex-direction: column;
    align-items: start;

    > .subcontribution {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: inherit;
      gap: 5px;

      > .duration {
        font-weight: 300;
      }
    }
  }

  > .session {
    z-index: 2;

    > .title {
      font-weight: bold;
      border: 1px solid grey;

      &:empty {
        display: none;
      }
    }

    > .time {
      font-weight: 300;
    }

    > .contributions {
      flex: 1;
      display: grid;
      gap: 2px;

      > .contribution {
        padding: 8px;
        font-size: 0.9em;
      }
    }
  }
}

.ngtimetable.horizontal {
  --rooms-per-screen: 4;
  --hours-per-screen: 6;

  flex-direction: row;
  min-height: 70vh;
  column-gap: 2px;

  > .schedule {
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x proximity;

    > .rooms {
      grid-template-rows: [empty] 40px repeat(var(--rooms), [room] calc((100vh - var(--header-size) - 40px - 14px) / var(--clamped-rooms-per-screen)));
      height: calc(var(--rooms) * (100% - 40px - 16px) / var(--clamped-rooms-per-screen));
      left: 0;

      &::before {
        top: 0;
        right: -2px;
        height: 100%;
        border-right: 2px solid white;
      }

      > .room {
        writing-mode: vertical-rl;
        width: 40px;
        height: 100%;
        border-width: 1px 1px 1px 0;

        &:first-child {
          border-top-width: 0;
        }
      }
    }

    > .daymarker {
      writing-mode: vertical-rl;
      padding: 40px 5px 0;
      border-top-width: 0;
      margin: 0 2px;
      left: 42px;

      &:first-child {
        margin-left: 0;
      }
    }

    > .timetable {
      grid-template-rows: [times] 40px repeat(var(--rooms), [room] calc((100vh - var(--header-size) - 40px - 14px) / var(--clamped-rooms-per-screen)));
      grid-template-columns: repeat(var(--times), [timeunit] minmax(calc((100vw - 40px - 16px) / var(--clamped-hours-per-screen) / var(--units-per-hour) - 2px), 1fr));

      > .timeslot {
        grid-row: 1;
        grid-column: span var(--units-per-hour);
        border-top-width: 0;
        top: 0;
      }

      > .break {
        > .title {
          writing-mode: vertical-rl;
        }
      }

      > .session {
        > .contributions {
          grid-template-columns: repeat(var(--times), [timeunit] 1fr);
          grid-template-rows: [room] 1fr;
        }

        > .title {
          padding: 2px 8px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

.ngtimetable.vertical {
  --rooms-per-screen: 6;
  --hours-per-screen: 4;

  flex-direction: column;
  max-height: 100vh;
  row-gap: 2px;

  > .schedule {
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y proximity;

    > .rooms {
      grid-template-columns: [empty] 40px repeat(var(--rooms), [room] calc((100vw - 40px - 16px) / var(--clamped-rooms-per-screen)));
      top: 0;
      width: calc(40px + (var(--rooms) * (100vw - 40px - 16px) / var(--clamped-rooms-per-screen)));

      &::before {
        bottom: -2px;
        left: 0;
        right: 0;
        border-bottom: 2px solid white;
      }

      > .room {
        width: 100%;
        height: 40px;
        border-width: 0 1px 1px;

        &:last-child {
          border-width: 0 0 1px 1px;
        }
      }
    }

    > .daymarker {
      padding: 5px 0 5px 40px;
      border-width: 1px 0;
      margin: 2px 0;
      top: 42px;
      left: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    > .timetable {
      grid-template-columns: [times] 40px repeat(var(--rooms), [room] calc((100vw - 40px - 16px) / var(--clamped-rooms-per-screen)));
      grid-template-rows: repeat(var(--times), [timeunit] minmax(calc((100vh - 40px - 16px) / var(--clamped-hours-per-screen) / var(--units-per-hour) - 2px), 1fr));

      > .timeslot {
        grid-column: 1;
        grid-row: span var(--units-per-hour);
        writing-mode: vertical-rl;
        left: 0;
      }

      > .break > .title {
        display: flex;
        align-items: center;
      }

      > .session {
        flex-direction: row;

        > .contributions {
          grid-template-rows: repeat(var(--times), [timeunit] 1fr);
          grid-template-columns: [room] 1fr;
        }

        > .title {
          padding: 8px 2px;
          margin-block-start: 2px;
          writing-mode: vertical-rl;
        }
      }
    }
  }
}

/* Adjust available boxes based on width */
@media only screen and (max-width: 1250px) {
  .ngtimetable.horizontal {
    --hours-per-screen: 3;
  }

  .ngtimetable.vertical {
    --rooms-per-screen: 4;
  }
}

@media only screen and (max-width: 992px) {
  .ngtimetable.horizontal {
    --hours-per-screen: 2;
  }

  .ngtimetable.vertical {
    --rooms-per-screen: 3;
  }
}

@media only screen and (max-width: 768px) {
  .main-action-bar {
    flex-flow: wrap-reverse;
    height: 70px;

    > .button-bar {
      flex-basis: 100%;
    }
  }

  .ngtimetable.horizontal {
    --hours-per-screen: 2;
  }

  .ngtimetable.vertical {
    --rooms-per-screen: 2;
  }
}

@media only screen and (max-width: 550px) {
  .ngtimetable.horizontal {
    --hours-per-screen: 1;
  }

  .ngtimetable.vertical {
    --rooms-per-screen: 1;
  }
}

/* Adjust available boxes based on height */
@media only screen and (max-height: 1250px) {
  .main > div {
    --header-size: 130px;
  }

  .ngtimetable-header {
    > .back {
      font-size: 1.0rem;

      > .details > .date, > .details > .place, > .conf-logo {
        display: none;
      }

      > .details > .title {
        font-size: 1.5rem;
      }
    }
  }

  .ngtimetable.horizontal {
    --rooms-per-screen: 4;
  }

  .ngtimetable.vertical {
    --hours-per-screen: 3;
  }
}

@media only screen and (max-height: 992px) {
  .ngtimetable.horizontal {
    --rooms-per-screen: 3;
  }

  .ngtimetable.vertical {
    --hours-per-screen: 2;
  }
}

@media only screen and (max-height: 768px) {
  .ngtimetable.horizontal {
    --rooms-per-screen: 2;
  }

  .ngtimetable.vertical {
    --hours-per-screen: 2;
  }
}

@media only screen and (max-height: 550px) {
  .ngtimetable.horizontal {
    --rooms-per-screen: 1;
  }

  .ngtimetable.vertical {
    --hours-per-screen: 1;
  }
}
